.help h2 {
    margin-top: 40px;
}

.controlsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    row-gap: 50px;
    grid-row-gap: 50px;
    align-items: center;
}

.controlsContainer img {
    vertical-align: middle;
}
